VITE_SUPABASE_URL=https://yozwkthjkyqoyfrfrzfi.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlvendrdGhqa3lxb3lmcmZyemZpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzYxMTkwNTUsImV4cCI6MjA5MTY5NTA1NX0.fHW_5v1JH-O8Gms1Bs9OuL-0BSjA-8oKulDAkiyEdig
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlvendrdGhqa3lxb3lmcmZyemZpIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NjExOTA1NSwiZXhwIjoyMDkxNjk1MDU1fQ.y7IJvzpzafP1RahptVb9JGrN4MXFKjdGsA-ACiIzpJY
